gym>=0.17.0
mujoco-py<1.50.2,>=1.50.1
numpy~=1.19.2
tqdm>=4.36.1
tensorflow>=2.4.0
tensorflow-probability>=0.9.0
tf-agents>=0.6.0
git+https://github.com/farama-foundation/d4rl@master#egg=d4rl
git+https://github.com/deepmind/dm_env.git
